<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.SearchName,@ViewBag.SiteName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/netserver")
</head>
<body onload="onLoad()">
    <div class="navbar navbar-inverse-banner navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @using (Html.BeginForm())
                {
                    <p style="margin-top:12px;width:600px">
                        <span style="color:#000000">Net Search </span> @Html.TextBox("q") <input type="submit" value="Search" />
                        @if (!string.IsNullOrWhiteSpace(ViewBag.RelatedSearchCount))
                        {
                            <span class="nums" style="">找到相关结果约 @ViewBag.RelatedSearchCount 个</span>
                        }
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    </p>

                }

            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />*@
    </div>
    <footer>
        <div>
            <a href="javascript:;" id="top">
                <i class="teal arrow circle outline up icon" style="margin-left: 20px"></i>
                <br />
                回到顶部
            </a>
        </div>
        <div id="s_footer">
            <a href="u" target="_blank">意见反馈</a> | <a href="" target="_blank">推广合作</a> | <span>Copyright ©@DateTime.Now.Year @ViewBag.SiteName</span>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
