@model Net.Models.SitePage
@{
    ViewBag.Title = "Details";
    Layout = null;
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/netserver")
<h2>Details</h2>
<div>
    <h4>AD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        @*Markup omitted for clarity.*@
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>      
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", Model) |
    @Html.ActionLink("Back to List", "Index")
</p>
