@*@{
        ViewBag.Title = "Home Page";
    }*@
@using Net.Models;

<div id="s_body">
    <div class="flex-container">
        @*left side start->*@
        <div id="body-left">
            @foreach (var p in ViewBag.Pages)
            {
                <h3 class="res-title">
                    <a class="stext" target="_blank" href="link.aspx?url=<%=p.Url%>">@p.Title</a>
                </h3>
                <span class="stext">@p.Content </span>
                <br />
                if (@p.Tag != null)
                {
                    <div id="tipID_@p.Id" class="mingpian-tooltip" onmouseover="show()" onmouseout="this.style.display='none';">
                        <div class="mingpian-title">@p.Tag.Name</div>
                        <div class="mingpian-description">@p.Tag.Description</div>
                        <div class="mingpian-credit">网站信用 :</div>

                        @if (p.Tag.IsGuard)
                        {
                            <div class="mingpian-planed">
                                <i class="check circle icon"></i>已加入上网保障计划
                            </div>
                        }
                        else
                        {
                            <div class="mingpian-plan">
                                <i class="remove circle icon"></i>未加入上网保障计划
                            </div>
                        }
                    </div>
                }
                <div class="res-linkinfo">
                    <cite>@p.Url</cite>&nbsp;&nbsp;@Html.Raw(p.Verified)
                </div>
            }
        </div>
        @*left side end*@

        @*right side start*@
        <div id="body-right">
            @if (ViewBag.PageCount > 0)
            {
                <div id="body-right-container">
                    <div id="so-feb">
                        <dl id="soSafe" class="open">
                            <dt class="" onclick='collapsed()'>
                                <div id="collapse-button">收起  <i id="angle" class="glyphicon glyphicon-menu-down"></i></div>
                                <span class="safe-guard-logo"></span>
                                @* <i class="lock icon"></i>*@
                                <span>@ViewBag.SiteName· 安全保障</span>
                            </dt>
                            <dd id="ad-home" style="display: none;">
                                <p class="txt">如您加入 @ViewBag.SiteName 推广赔付计划，在 @ViewBag.SiteName 推广网站中因遭遇欺诈、钓鱼、假冒网站并造成经济损失，在符合《@ViewBag.SiteName 推广赔付协议》的赔付条件时，可向 @ViewBag.SiteName 申请赔付。<a href="#src=#" target="_blank" class="join">我要加入&gt;&gt;</a></p>
                                <p><strong>了解详情：</strong>        <a href="#src=#" target="_blank">网购先赔</a></p>
                                <p><strong>举报入口：</strong> <a href="https://110.xxx.cn" target="_blank">猎网平台&gt;&gt;</a></p>
                            </dd>
                        </dl>
                    </div>
                    <div id="right-show" class="spread">
                        <ul id="rightbox" class="result">
                            <li>
                                <h3><a href="#" target="_blank" style="font-size: 15px">想在 @ViewBag.SiteName 推广您的产品服务吗？</a></h3>
                                <p class="res-linkinfo">
                                    @*<i class="volume control phone icon"></i>*@
                                    ☎ 4000-123-123<br>
                                    <cite>a.bcd.cn</cite>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <script>
                        function collapsed() {

                            if (document.getElementById('collapse-button').textContent.indexOf('收起') != -1) {
                                document.getElementById('collapse-button').innerHTML = '展开' + "  <i id=\"angle\" class=\"glyphicon glyphicon-menu-up\"></i>";
                            }
                            else if (document.getElementById('collapse-button').textContent.indexOf('展开') != -1) {
                                document.getElementById('collapse-button').innerHTML = '收起' + "  <i id=\"angle\" class=\"glyphicon glyphicon-menu-down\"></i>";
                            }
                            var showorhidden = document.getElementById("ad-home");

                            if (showorhidden.style.display == 'none') {
                                showorhidden.style.display = 'block';
                            }
                            else { showorhidden.style.display = 'none' }
                        }
                    </script>
                </div>
            }
        </div>
        @*right side end*@
    </div>
    @if (ViewBag.PageCount > 0)
    {
        <div id="page">
            <span>
                @Html.Raw(ViewBag.PageIndexString)
            </span>

        </div>
    }
</div>