@using Net.HostServer;
@{
    ViewBag.Title = "Dashboard";
    Layout = null;
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/ace")
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/ace")
@Scripts.Render("~/bundles/modernizr")

<style>
    body {
        background-color: #ffffff;
    }
</style>
<div id="s_body">
    <div id="body_right">

        @{
            String time = (DateTime.Now - @ViewBag.Begin).TotalSeconds + "s";
            String mem = (System.GC.GetTotalMemory(false) / 1024 / 1024) + "MB ";
        }

        <div class="container">

            <div class="row">
                <div class="space-6"></div>
                <div class="col-sm-7 infobox-container">
                    <h2>Dashboard Management</h2>
                    <div class="alert alert-block alert-success">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        List Group with Site Summary
                    </div>
                    <div class="infobox infobox-green  ">
                        <div class="infobox-icon">
                            <i class="icon-comments"></i>
                        </div>
                        <div class="infobox-data">
                            <span class="infobox-data-number">@ViewBag.ProcessLinksCount</span>
                            <div class="infobox-content">Collected links</div>
                        </div>
                        <div class="stat stat-success">8%</div>
                    </div>
                    <div class="infobox infobox-blue  ">
                        <div class="infobox-icon">
                            <i class="icon-twitter"></i>
                        </div>
                        <div class="infobox-data">
                            <span class="infobox-data-number">@ViewBag.SiteInfoCount</span>
                            <div class="infobox-content">Verified site</div>
                        </div>
                        <div class="badge badge-success">
                            +32%
                            <i class="icon-arrow-up"></i>
                        </div>
                    </div>
                    <div class="infobox infobox-pink  ">
                        <div class="infobox-icon">
                            <i class="icon-shopping-cart"></i>
                        </div>
                        <div class="infobox-data">
                            <span class="infobox-data-number">@ViewBag.SitePageCount</span>
                            <div class="infobox-content">Collected pages</div>
                        </div>
                        <div class="stat stat-success">4%</div>
                    </div>
                    <div class="infobox infobox-red  ">
                        <div class="infobox-icon">
                            <i class="icon-beaker"></i>
                        </div>
                        <div class="infobox-data">
                            <span class="infobox-data-number">@ViewBag.WordsCount</span>
                            <div class="infobox-content">Searched words</div>
                        </div>
                    </div>
                    <div class="infobox infobox-orange2  ">
                        <div class="infobox-icon">
                            <i class="icon-comments"></i>
                        </div>
                        <div class="infobox-data">
                            <span class="infobox-data-number">@ViewBag.linkedCount</span>
                            <div class="infobox-content">Linked url</div>
                        </div>
                        <div class="badge badge-success">
                            7.2%
                            <i class="icon-arrow-up"></i>
                        </div>
                    </div>
                    <div class="infobox infobox-blue2  ">
                        <div class="infobox-progress">

                        </div>
                        <div class="infobox-data">
                            <span class="infobox-text"></span>
                            <div class="infobox-content">
                                <span class="bigger-110"></span>

                            </div>
                        </div>
                    </div>
                    <div class="space-6"></div>
                    <div class="infobox infobox-green infobox-small infobox-dark">
                        <div class="infobox-progress">
                            <div class="easy-pie-chart percentage easyPieChart" data-percent="61" data-size="39">
                                <span class="percent">61</span>%
                            </div>
                        </div>
                        <div class="infobox-data">
                            <div class="infobox-content">Memory</div>
                            <div class="infobox-content">@mem</div>
                        </div>
                    </div>
                    <div class="infobox infobox-blue infobox-small infobox-dark">
                        <div class="infobox-progress">
                            <div class="easy-pie-chart percentage easyPieChart" data-percent=" 42" data-size="39">
                                <span class="percent">42</span>ms
                            </div>
                        </div>
                        <div class="infobox-data">
                            <div class="infobox-content">Time</div>
                            <div class="infobox-content">@time</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @Scripts.Render("~/bundles/netserver")


        <script type="text/javascript">
            jQuery(function ($) {
                $('.easy-pie-chart.percentage').each(function () {
                    var $box = $(this).closest('.infobox');
                    var barColor = $(this).data('color') || (!$box.hasClass('infobox-dark') ? $box.css('color') : 'rgba(255,255,255,0.95)');
                    var trackColor = barColor == 'rgba(255,255,255,0.95)' ? 'rgba(255,255,255,0.25)' : '#E2E2E2';
                    var size = parseInt($(this).data('size')) || 50;
                    $(this).easyPieChart({
                        barColor: barColor,
                        trackColor: trackColor,
                        scaleColor: false,
                        lineCap: 'butt',
                        lineWidth: parseInt(size / 10),
                        animate: /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase()) ? false : 1000,
                        size: size
                    });
                })

                $('.sparkline').each(function () {
                    var $box = $(this).closest('.infobox');
                    var barColor = !$box.hasClass('infobox-dark') ? $box.css('color') : '#FFF';
                    $(this).sparkline('html', { tagValuesAttribute: 'data-values', type: 'bar', barColor: barColor, chartRangeMin: $(this).data('min') || 0 });
                });

            });
        </script>
    </div>
</div>