

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.SearchName,@ViewBag.SiteName</title>
    @{
        ViewBag.Title = "Home Page";
        Layout = null;
    }
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/netserver")
</head>
<body>
    <div align="center" style="margin-top:100px;">
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <h2>
                        <label class="btn btn-secondary banner-name" type="button"><i class="fa fa-paper-plane-o fa-2x header" style="margin-bottom: 12px" aria-hidden="true"></i>  </label>
                        <span class="header" style="font-size: 40px;">@ViewBag.SiteName</span>
                    </h2>
                </div>
                <div>
                    @Html.TextBox("q", null, new { @class = "search-box", Style = "font-size:20px;height:40px", id = "searchinput", type = "text", placeholder = "在" + @ViewBag.SiteName + "上搜索或输入网址" })
                    <button type="submit" class="btn btn-search btn-info" style="margin-top:-5px;margin-left:-5px;height:40px" value="Search">
                        @*<span class="glyphicon glyphicon-search" ></span>*@
                        <span class="label label-icon" style="font-size:20px;">Search</span>
                    </button>

                </div>

                @if (!string.IsNullOrWhiteSpace(ViewBag.RelatedSearchCount))
                {
                    <span class="nums" style="">找到相关结果约 @ViewBag.RelatedSearchCount 个</span>
                }
            </div>

        }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>