@{
    ViewBag.Title = "Home Page";
}
@using Net.Models;

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div id="s_body">
    <div class="flex-container">
        @*left side start->*@
        <div id="body_left">
            @foreach (var p in ViewBag.Pages)
            {
                <h3 class="res-title">
                    <a class="stext" target="_blank" href="link.aspx?url=<%=p.Url%>">@p.Title</a>
                </h3>
                <span class="stext">@p.Content </span>
                <br />
                if (p.Tag != null)
                {
                    <div id="tipID_@p.Id>
                        " class="mingpian-tooltip" onmouseover="show()" onmouseout="this.style.display='none';">
                        <div class="mingpian-title">@p((SiteInfo)p.Tag).Name</div>
                        <div class="mingpian-description">@((SiteInfo)p.Tag).Description</div>
                        <div class="mingpian-credit">网站信用 :</div>

                        @if (((SiteInfo)p.Tag).IsGuard)
                        {
                            <div class="mingpian-planed">
                                <i class="check circle icon"></i>已加入上网保障计划
                            </div>
                        }
                        else
                        {
                            <div class="mingpian-plan">
                                <i class="remove circle icon"></i>未加入上网保障计划
                            </div>
                        }
                    </div>
                }
                <div class="res-linkinfo">
                    <cite>@p.Url</cite>&nbsp;&nbsp;@p.Verified
                </div>
            }
        </div>
        @*left side end*@

        @*right side start*@
        <div id="body_right">
            @if (ViewBag.PageCount > 0)
            {
                <div id="so_feb">
                    <dl id="soSafe" class="open">
                        <dt class="" onclick='collapsed()'>
                            <div id="collapse-button">收起<i id="angle" class="angle down icon"></i></div>
                            <span class="safe-guard-logo"></span>
                            @* <i class="lock icon"></i>*@
                            <span>Net Search · 安全保障</span>
                        </dt>
                        <dd id="ad-home" style="display: none;">
                            <p class="txt">如您加入Net Search推广赔付计划，在Net Search推广网站中因遭遇欺诈、钓鱼、假冒网站并造成经济损失，在符合《Net Search推广赔付协议》的赔付条件时，可向Net Search申请赔付。<a href="#src=#" target="_blank" class="join">我要加入&gt;&gt;</a></p>
                            <p><strong>了解详情：</strong>        <a href="#src=#" target="_blank">网购先赔</a></p>
                            <p><strong>举报入口：</strong> <a href="https://110.xxx.cn" target="_blank">猎网平台&gt;&gt;</a></p>
                        </dd>
                    </dl>
                </div>
                <div id="right_show" class="spread">
                    <ul id="rightbox" class="result">
                        <li>
                            <h3><a href="#" target="_blank" style="font-size: 15px">想在Net Search推广您的产品服务吗？</a></h3>
                            <p class="res-linkinfo">
                                @*<i class="volume control phone icon"></i>*@
                                ☎ 4000-123-123<br>
                                <cite>a.bcd.cn</cite>
                            </p>
                        </li>
                    </ul>
                </div>
                <script>
                    function collapsed() {

                        if (document.getElementById('collapse-button').textContent.indexOf('收起') != -1) {
                            document.getElementById('collapse-button').innerHTML = '展开' + "<i id=\"angle\" class=\"angle up icon\"></i>";
                        }
                        else if (document.getElementById('collapse-button').textContent.indexOf('展开') != -1) {
                            document.getElementById('collapse-button').innerHTML = '收起' + "<i id=\"angle\" class=\"angle down icon\"></i>";
                        }
                        var showorhidden = document.getElementById("ad-home");

                        if (showorhidden.style.display == 'none') {
                            showorhidden.style.display = 'block';
                        }
                        else { showorhidden.style.display = 'none' }
                    }
                </script>
            }
        </div>
        @*right side end*@
    </div>
    @if (ViewBag.PageCount > 0)
    {
        <div id="page">
            <span> 
                @Html.Raw(ViewBag.PageIndexString)
            </span>

        </div>
    }
</div>